.section-footer {
  color: var(--cor-00);
  text-decoration: none;
}
.section-footer a {
  text-decoration: none;
  color: var(--cor-03) !important;
}
.section-footer a:hover {
  text-decoration: underline;
  color: var(--cor-00) !important;
}
#div-copy a {
  text-transform: uppercase;
  color: var(--cor-00) !important;
}
footer {
  width: 100%;
}
@media(max-width: 650px){
   footer a,footer #div-copy{
    font-size: 0.8rem;
  }
  footer h5{
    font-size: 0.95rem;
  }
}