@font-face {
  font-family: 'starz-2016';
  src: url(../../tipografia/tipografia-logo/Starz-2016/starz_2016_by_629lyric-d9y7ma8.ttf);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body{
  height: 100%;
} 
body {
  display: flex;
  flex-direction: column;
}
/*aplicando um background no */
#header-bg{
  background-color: var(--cor-01) !important;
}
/*tipografica logo, tipografica em letras maiusculas */
body{
  background-color: var(--cor-05) !important;
}
.logo-horizons a{
  font-family: 'starz-2016';
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--cor-00) !important;
}
/*alteração da cor do botão do nav*/
header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*definida cor do backgroud do nav*/
 #nav-bg{
  background-color: var(--cor-01) !important;
}
/*cor dos links do nav e texto com letras maiusculas*/
ul li a{
  color: var(--cor-00) !important;
  text-transform: uppercase;
}
/*aplicando underline nos links do nav*/
ul li a:hover{
 text-decoration: underline;
}



main{
  box-sizing: border-box;
}
/*formulario pesquiza de destino*/
main .div-bg{
  background-color:var(--cor-03);
  min-height: 200px;
  z-index: 99;
  position: relative;
  top: -100px;
 
}
main .categorias-tab{
  display: flex;
}
.categorias-tab a{
 text-decoration: none;

}
main .categorias-tab .categorias-tab-itens{  
  padding:10px 0px 0px 0px ;
  width: 100%;
  text-align: center;
  justify-items: center;
  text-transform: uppercase;
  color: var(--cor-01);
  margin: 0px 2px 0px 0px;
  background-color: var(--cor-02);
  color: var(--cor-00);
} 
main .categorias-tab .categorias-tab-itens:hover{
  background-color: var(--cor-03);
  color: var(--cor-01);
}

.div-conteudo-inputs > form{
  display: grid;
  grid-template-columns: repeat(5, auto);
  padding: 20px;
  align-items: center;
  
}
.estilo-select{
  padding: 10px;
  border: outset;
  border: 1px solid rgba(157, 155, 155, 0.566);
  width: 80%;
}
.botao{
  background-color: var(--cor-04);
  border: unset;
  padding: 10px 40px;
  margin-top: 25px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--cor-00);
}
.botao:hover{
  background-color: var(--cor-01);
  transition: 0.5s;
}
.div-botao{
  margin-top: 30px;
}

label{
  color: var(--cor-01);
  font-size: 1.1rem;
  font-weight: 700;
  padding-bottom: 10px;
}


/*media query retirar a sobreposição do formulario de pesquisa*/
@media(max-width: 980px){
  main .div-bg{
    position: inherit;
    margin-top: 100px;
  }
  .div-conteudo-inputs > form{
    grid-template-columns: auto;
    width: 100%;
  }
  .estilo-select{ 
    width: 100%;
  }
  .div-botao{
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
@media(max-width: 650px){
    main .categorias-tab{
    flex-direction: column;
  }
}


#footer-bg{
  background-color: var(--cor-01) !important;
}

.section-footer{
  color: var(--cor-00);
  text-decoration: none;
  text-transform: none;
}
.section-footer a{
  text-decoration: none;
  text-transform: none;
  color: var(--cor-03) !important;
}
#div-copy a{
  text-transform: uppercase;
  color: var(--cor-00) !important;
}

/*manter o footer fixo ao final da tela*/
footer{
  width: 100%;
}

/*CSS página card-1*/

.banner {
  background-image: url();
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
  color: white;
  text-align: center;
}
.banner h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.banner .details {
  position: flex;
  top: 20px;
  left: 20px;
}
.pricing, .details-card, .included-services, .transfer, .accommodation, .insurance {
  margin-bottom: 20px;
}
.details-card img, .accommodation img {
  width: 100%;
  height: auto;
  margin: 5px;
}























/*media queries*/
@media(max-width: 650px) {
  .logo-horizons a{
    font-size: 1.5rem;
 }
}