@font-face {
  font-family: "starz-2016";
  src: url(../../tipografia/tipografia-logo/Starz-2016/starz_2016_by_629lyric-d9y7ma8.ttf);
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(./../../tipografia/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(./../../tipografia/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h2 {
  font-family: "Poppins-Bold";
}
p {
  font-family: "Poppins-Regular";
}
.backgroudhover {
  background-color: var(--cor-03) !important;
  color: var(--cor-01) !important;
}
input,
optgroup,
select {
  padding: 10px;
  width: 100%;
  gap: 10px;
}
.div-inputs {
  padding: 20px;
}
form {
  padding: 20px;
}
/*************************************************************************/

/* Classe para ocultar o conteúdo com transição */
.naovisivel {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0.1s ease;
  position: absolute;
  top: 20px; /* Pode ajustar conforme o layout */
}

/* Classe para exibir o conteúdo */
.visivel {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s ease, visibility 0.1s ease;
  top: 0;
}
/* Animação de subida */
.subindo {
  transition: top 0.1s ease, opacity 0.1s ease;
  top: -20px; /* Ajusta conforme o layout */
  opacity: 0;
}

/*************************************************************************/
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
body {
  /*6bc3b349*/
  /*#6bc3b362*/
  /*#e7f2e9*/
  /*e7f2e9e5*/
  background: linear-gradient(#e7f2e9d0, #e7f2e9d0),
    url(./../../images/img-bg/bg2.jpg) !important;
  height: 100vh;
}

.botao {
  background-color: var(--cor-04);
  border: unset;
  padding: 10px 40px;
  margin-top: 25px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--cor-00) !important;
  text-decoration: none;
}
.botao:hover {
  background-color: var(--cor-01);
  transition: 0.5s;
}
.div-container-inputs .div-botao {
  margin-top: 40px;
}

/*CSS página card-1*/

.banner {
  position: relative;
  width: 100%;
  height: 500px;
}

.banner h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pricing,
.details-card,
.included-services,
.transfer,
.accommodation,
.insurance {
  margin-bottom: 20px;
}
.details-card img,
.accommodation img {
  width: 100%;
  height: auto;
  margin: 10px;
}

/* .banner .details {
  position: flex;
  top: 20%;
  left: 20%;
} */

/*CSS página obrigado*/
.obrigado {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
#footer-bg {
  background-color: var(--cor-01) !important;
}

/*media queries*/
@media (max-width: 650px) {
  .logo-horizons a {
    font-size: 1.5rem;
  }
}
