@font-face {
  font-family: 'starz-2016';
  src: url(../../tipografia/tipografia-logo/Starz-2016/starz_2016_by_629lyric-d9y7ma8.ttf);
}
*{
  box-sizing: border-box;
}
html, body{
  height: 100%;
} 
body {
  display: flex;
  flex-direction: column;
}
/*aplicando um background no */
#header-bg{
  background-color: var(--cor-01) !important;
}
/*tipografica logo, tipografica em letras maiusculas */
body{
  background-color: var(--cor-05) !important;
}
.logo-horizons a{
  font-family: 'starz-2016';
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--cor-00) !important;
}
/*alteração da cor do botão do nav*/
header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*definida cor do backgroud do nav*/
 #nav-bg{
  background-color: var(--cor-01) !important;
}
/*cor dos links do nav e texto com letras maiusculas*/
ul li a{
  color: var(--cor-00) !important;
  text-transform: uppercase;
}
/*aplicando underline nos links do nav*/
ul li a:hover{
 text-decoration: underline;
}






#footer-bg{
  background-color: var(--cor-01) !important;
}

.section-footer{
  color: var(--cor-00);
  text-decoration: none;
  text-transform: none;
}
.section-footer a{
  text-decoration: none;
  text-transform: none;
  color: var(--cor-03) !important;
}
#div-copy a{
  text-transform: uppercase;
  color: var(--cor-00) !important;
}

/*manter o footer fixo ao final da tela*/
footer{
  width: 100%;
}

























/*media queries*/
@media(max-width: 650px) {
  .logo-horizons a{
    font-size: 1.5rem;
 }
}