main {
  box-sizing: border-box;
  padding-bottom: 150px;
}
/*formulario pesquiza de destino*/
main .div-bg {
  background-color: var(--cor-03);
  min-height: 200px;
  z-index: 99;
  position: relative;
  top: -100px;
}
main .categorias-tab {
  display: flex;
}
.elementoX {
  width: 100%;
  background-color: var(--cor-00);
  text-align: end;
  padding: 10px;
}
.elementoX a {
  text-decoration: none;
  color: var(--cor-01);
}
main .categorias-tab a {
  text-decoration: none;
}
main .categorias-tab .categorias-tab-itens {
  padding: 10px 0px 0px 0px;
  width: 100%;
  text-align: center;
  justify-items: center;
  text-transform: uppercase;
  color: var(--cor-01);
  margin: 0px 2px 0px 0px;
  background-color: var(--cor-02);
  color: var(--cor-00);
}
main .categorias-tab .categorias-tab-itens:hover {
  background-color: var(--cor-03);
  color: var(--cor-01);
}

main .div-conteudo-inputs > form {
  align-items: center;
}
main .div-conteudo-inputs > form,
main .div-conteudo-inputs-viagens > form {
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.voohotel > form {
  grid-template-columns: repeat(3, auto) !important;
}

.div-container-viagens .div-botao {
  margin-top: 56px;
  align-self: flex-start;
  justify-content: center;
  padding: 10px;
}
.div-botao{
  justify-self: center;
}

main .estilo-select {
  padding: 10px;
  outline: none;
  border: 1px solid rgba(157, 155, 155, 0.566);
  width: 100%;
}

main label {
  color: var(--cor-01);
  font-size: 1.1rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.main-titulo-cards {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-family: "Poppins-bold";
}

/*Cards do main */

.main-cards-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 30px;
}
.main-cards-container a {
  text-decoration: none;
  color: var(--cor-01);
}
.main-cards-container > .card-modificacoes {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 40px;
}
.cards-container-italia {
  grid-template-columns: repeat(3, auto);
  padding-top: 80px;
  padding-bottom: 80px;
}
.cards-container-italia .card-modificacoes {
  grid-template-columns: auto;
}
.card-modificacoes img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 5px 0px 0px 5px;
}
.div-img-card {
  overflow: hidden;
}
.card-modificacoes {
  border-radius: 5px;
}
.card-modificacoes:hover {
  box-shadow: 1px 1px 10px 1px #1422304d;
  transition: 0.4s ease;
}

.card-modificacoes img,
.card-modificacoes {
  transition: transform 0.4s ease;
}
.card-modificacoes:hover img {
  transform: scale(1.1);
  transition: 0.4s ease;
}
.card-bg {
  background-color: var(--cor-00);
}
.div-cards-viagens {
  padding-top: 80px;
  text-align: center;
}

.descricao-viagem {
  padding: 20px 40px 20px 20px;
}
.descricao-viagem h5 {
  font-family: "Poppins-Bold";
  padding-bottom: 5px;
}
div span.preco {
  font-weight: 700;
  font-size: 1.6rem;
}
.descricao-viagem .botao {
  padding: 5px 20px;
  text-decoration: none;
  font-size: 1rem;
  box-sizing: border-box;
}

/*********************media query***************************************/
@media (max-width: 1200px) {
  .main-cards-container > .card-modificacoes {
    grid-template-columns: auto;
  }
}
@media (max-width: 980px) {
  main .div-bg {
    position: inherit;
    margin-top: 30px;
  }
  #target-div1 .div-conteudo-inputs > form {
    grid-template-columns: auto;
    width: 100%;
  }
  main .div-conteudo-inputs-viagens > form {
    grid-template-columns: auto;
  }
  .voohotel > form {
    grid-template-columns: initial !important;
  }
  main .estilo-select {
    width: 100%;
  }
  .div-container-viagens .div-botao,
  .div-conteudo-inputs .div-botao {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  main .div-conteudo-inputs-viagens .div-inputs,
  main .div-conteudo-inputs .div-inputs {
    padding: 5px;
  }
  form label {
    font-size: 0.9rem;
  }
  form input,
  form select {
    padding: 5px;
    font-size: 0.9rem;
  }
  .elemento p {
    font-size: 0.8rem;
  }
  form .botao {
    padding: 10px 15px;
    font-size: 1rem;
  }
}
@media (max-width: 650px) {
  main {
    padding-bottom: 80px;
  }
  main .categorias-tab {
    flex-direction: column;
  }
  .div-cards-viagens {
    padding-top: 20px;
  }
 
}

@media (max-width: 780px) {
  .main-cards-container {
    grid-template-columns: auto;
  }

  .card-modificacoes img {
    max-width: 100%;
    width: initial;
    height: 295px;
  }
  .card-modificacoes img {
    border-radius: 5px 5px 0px 0px;
  }
}
