
    .separator {
      height: 5px;
      background-color: #438C7F; 
      margin: 30px;
    }
    
    .card {
      background-color: #6bc3b3;
      margin-bottom: 30px;
    }

      /* Titulo responsivo */  
    .details h1 {
      font-size: 4rem; 
    }

    
    @media (max-width: 768px) {
      .details h1 {
        font-size: 2rem; 
      }
    }

    
    @media (max-width: 480px) {
      .details h1 {
        font-size: 2rem; 
      }
    }
/* Área de comentários */
    .comment-area {
      background-color: #438C7F; 
      padding: 20px; 
      border-radius: 8px; 
      color: white; 
    }